  :root{
    --header-color: #868485;
    --body-color: #31081f;
    --footer-color: #6b0f1a;

    --accent-graygreen: #868485;
    --deep-red: #6b0f1a;
    --dark-gray: #2f2f2f;
    --bg: var(--body-color);
    --max-width: 1100px;
  }

  body{
    font-family: "IM Fell French Canon", Georgia, serif;
    background: var(--body-color);   /* body color updated */
    color: white;
    padding: 24px;
  }

  header{
    background: var(--header-color); /* header color updated */
    padding: 16px;
    border-radius: 10px;
  }

  footer{
    background: var(--footer-color); /* footer color updated */
    padding: 16px;
    border-radius: 10px;
    color: white;
  }