  /* ------------------------------
   COLOR & FONT VARIABLES
------------------------------ */
:root {
  --header-color: #868485; /* gray-green */
  --body-color: #31081f; /* deep burgundy */
  --footer-color: #6b0f1a; /* dark red */

  --accent-graygreen: #868485;
  --deep-red: #6b0f1a;
  --dark-gray: #2f2f2f;

  --max-width: 1100px;
}

/* ------------------------------
   GLOBAL STYLES
------------------------------ */
body {
  background: var(--body-color);
  color: white;
  margin: 0;
  font-family: "IM Fell French Canon", Georgia, serif;
}

/* Main content wrapper */
.site {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 20px;
}

/* ------------------------------
   HEADER
------------------------------ */
header {
  background: var(--header-color);
  padding: 16px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Brand logo + name */
.brand {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  gap: 10px;
}
.brand-title {
  font-size: 1.7rem;
  font-weight: 800;
}

.brand img {
  width: 48px;
  height: 48px;
}

/* Navigation */
nav a {
  margin-left: 18px;
  color: white;
  text-decoration: none;
  font-family: "Lucida Sans", Verdana, sans-serif;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* ------------------------------
   TYPOGRAPHY
------------------------------ */
h1,
h2,
h3 {
  font-family: "Lucida Sans", Geneva, Verdana, sans-serif;
  color: white;
  margin-bottom: 12px;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.5rem;
}

/* ------------------------------
   FOOTER
------------------------------ */
footer {
  background: var(--footer-color);
  padding: 20px;
  border-radius: 10px;
  color: white;
  margin-top: 40px;
  text-align: center;
}

  #where_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 150px;
    max-width: 900px;
    margin: 0 auto;
  }

  #rock_gym {
    grid-column: 1/1;
    grid-row: 1/1;
  }

  #heise_rock {
    grid-column: 2/2;
    grid-row: 1/1;
  }
  
  #teton_dam {
    grid-column: 1/1;
    grid-row: 2/2;
  }

  #city_of_rocks {
    grid-column: 2/2;
    grid-row: 2/2;
  }

  .where_images {
    display: block;
    margin: 0 auto;
    height: 200px;
    max-width: 350px;
    border-radius: 8px;
  }

  #page_three_header {
    text-align: center;
  }

  .where_headings {
    text-align: center;
  }